[Unit]
Description=AudioStash Web UI daemon

[Service]
ExecStart=/var/virtualenvs/audiostash/bin/python /var/www/audiostash/src/audiostash.py
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
