[Unit]
Description=AudioStash scanner daemon

[Service]
ExecStart=/var/virtualenvs/audiostash/bin/python /var/www/audiostash/audiostash/scand/main.py
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
