[Unit]
Description=AudioStash Web UI daemon

[Service]
WorkingDirectory=/var/www/audiostash/
ExecStart=/var/virtualenvs/audiostash/bin/python -m audiostash.webui.main
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
