<div class="album-container">
    <h1>
        <span class="album_title">{{ album.title }}</span>
        <span class="by">by</span>
        <span class="artist_title">{{ artist.name}}</span>
    </h1>
    <div class="col-sm-4 hidden-xs album_info">
        <div ng-switch on="album.cover">
            <div ng-switch-when="1" class="album_cover">
                <img src="/static/img/default_album.jpg" />
            </div>
            <div ng-switch-default class="album_cover">
                <img src="/cover/{{ session_id() }}/1/{{ album.cover }}" />
            </div>
        </div>
    </div>
    <div class="col-sm-8 track_info">
        <div class="btn-group album-playlist-buttons" role="group">
            <button type="button" ng-click="queue(album.id)"   class="btn btn-default"><span class="icon glyphicon glyphicon-plus-sign"></span> Queue</button>
            <button type="button" ng-click="replace(album.id)" class="btn btn-default"><span class="icon glyphicon glyphicon-asterisk"></span> Replace playlist</button>
        </div>
        <div ui-grid="grid_opts" ui-grid-auto-resize ng-style="{ 'height': height }" class="track_grid"></div>
    </div>
</div>