<div class="container-fluid tracks-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group subnav-buttons" role="group">
                <a type="button" class="btn btn-default"><span class="icon glyphicon glyphicon-list"></span> New Playlist</a>
            </div>
        </div>
    </div>
    <div class="track_info" ng-if="grid_opts.data">
        <div ui-grid="grid_opts" ui-grid-auto-resize ng-style="{ 'height': height }" class="track_grid"></div>
    </div>
</div>